---
import {Heart} from 'lucide-astro'
import { Image } from 'astro:assets';
import bg from '../assets/img/bg.jpeg'
import fg from '../assets/img/fg.jpeg'
---
<html lang="en">
<head>
    <title>Link Collection</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

    body {
      background-image: radial-gradient(circle, theme('colors.blue.300') 5%, theme('colors.blue.100') 8%);
      background-size: 30px 30px;
    }

    .cta-button {
      @apply block py-3 px-6 rounded-full border-2 border-blue-500 text-blue-500 font-semibold text-center transition-all duration-300 ease-in-out hover:bg-blue-500 hover:text-white focus:outline-none focus:ring-2 focus:ring-blue-300;
    }
    </style>
</head>
<body class="min-h-screen min-w-screen overflow-x-hidden overflow-y-auto flex items-center justify-center bg-blue-100 py-12">
<div class="max-w-xl min-w-80 md:min-w-96 mx-auto bg-white shadow-md rounded-2xl">
    <!-- Profile Image -->
    <div class="relative flex justify-center">
        <Image alt="clouds background" class="h-32 w-full rounded-2xl object-cover" src={bg}/>
        <Image alt="profile" class="absolute -bottom-1/4 h-24 w-24 rounded-full border-4 border-white object-cover" src={fg}/>
    </div>

    <div class="p-6">
        <!-- Bio -->
        <div class="text-center mt-14">
            <p class="text-3xl font-bold">Matteo Cosi</p>
            <p class="font-light">Software Developer</p>
        </div>


        <!-- Links Section -->
        <div class="mt-10 text-center">
            <p class="text-lg font-bold uppercase">Links</p>
            <div class="space-y-4 mt-4 md:px-12">
                    <a href="https://github.com/matteoc99" class="cta-button" target="_blank"
                        aria-label="Github">Github</a>

                    <a href="https://portfolio.matteocosi.com" class="cta-button" target="_blank"
                      aria-label="Portfolio">Portfolio</a>

                    <a href="https://www.linkedin.com/in/matteoc99" class="cta-button" target="_blank"
                        aria-label="LinkedIn">LinkedIn</a>
            </div>
        </div>

        <!-- Credits -->
        <div class="mt-20 flex flex-col gap-2 items-center">
            <p class="text-xs text-gray-500 uppercase">Made with</p>
            <Heart class="text-red-700"/>
            <p class="text-xs text-gray-500 uppercase">in South Tyrol</p>
        </div>
    </div>
</div>
</body>
</html>
